<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col">
            <!--      부트 스트랩 5.3 Card 컴포넌트 Header and Footer 의 샘플 가져오기-->
            <div class="card">
                <div class="card-header">
                    글작성
                </div>
                <div class="card-body">
                    <form method="post" action="/lunch/register">
                        <div class="mb-3">
                            <label for="title" class="form-label">제목</label>
                            <input type="text" name="title" class="form-control" id="title" placeholder="제목을 입력해주세요.">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">내용</label>
                            <textarea type="text" placeholder="내용을 입력해주세요." name="content" rows="5" class="form-control col-sm-5" id="content"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="writer" class="form-label">작성자</label>
                            <input type="text" name="writer" class="form-control" id="writer" placeholder="작성자를 입력해주세요.">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">작성</button>
                            <button type="reset" class="btn btn-danger">초기화</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!--끝 나는 부분 layout:fragment="content"-->

<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">
    //글쓰기 후, 작성된 게시글 번호를 출력하기, 경고창으로
    // 모달창으로 변경해보기.
    const result = [[${result}]]
    if(result) {
        alert("작성된 게시글 번호 : " + result +"번")
    }

    // 글쓰기 폼에서 에러가 발생해서, 서버로 부터, 키: errors에
    // 정보가 담겨져 있음.
 const errors = [[${errors}]]
 console.log("errors : " + errors)
 let errorMsg =''
 if(errors) {
     for(let i = 0; i < errors.length; i++){
         errorMsg += `${errors[i].field} 는 ${errors[i].code}\n`
     }
     alert(errorMsg)
 }
</script>

</body>
</html>
