<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">
<!--    화면 구성시, 이 프래그먼트 영역 안에서만 작업. 주의 사항,-->
<!--    앞시간에 모달이 동작을 안했던 이유가, 여기 블록안에 없어서 -->
    <!--      검색 화면 구성 넣기-->
    <div class="row content">
        <div class="col">
            <!--      부트 스트랩 5.3 Card 컴포넌트 Header and Footer 의 샘플 가져오기-->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">검색화면 </h5>
                    <form action="/board/list" method="get">
                        <!--                                    <input type="hidden" name="page" value="${pageRequestDTO.page}">-->
<!--                        <input type="hidden" name="size" value="${pageRequestDTO.size}">-->
                        <div class="mb-3">
                            <!--                            기존의 체크 박스 부분 -> select 태그로 변경하기.-->
                            <select class="form-select mb-3" name="type">
                                <option value="">---</option>
                                <option value="t" th:selected="${pageRequestDTO.type == 't'}">
                                    제목
                                </option>
                                <option value="w" th:selected="${pageRequestDTO.type == 'w'}">
                                    작성자
                                </option>
                                <option value="c" th:selected="${pageRequestDTO.type == 'c'}">
                                    내용
                                </option>
                                <option value="tw" th:selected="${pageRequestDTO.type == 'tw'}">
                                    제목+작성자
                                </option>
                                <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">
                                    제목+내용
                                </option>
                                <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">
                                    제목+내용+작성자
                                </option>

                            </select>
                            <input type="text" name="keyword" class="form-control" placeholder="검색어를 입력해주세요."
                                   th:value="${pageRequestDTO.keyword}">
                        </div>


                        <div class="input-group dueDateDiv mb-3">
                            <button type="submit" class="btn btn-primary searchBtn">검색하기</button>
                            <button type="reset" class="btn btn-warning clearBtn">초기화하기</button>
                        </div>

                        <div th:if="${responseDTO.total != null}" class="input-group dueDateDiv mb-3">
                            <h3>검색 갯수 : [[${responseDTO.total}]]개</h3>
                        </div>

                    </form>
                    <!--                        초기화 버튼 클릭시, 문자열 내용도 초기화되고, 페이지도 1페이지로 이동-->
                </div>
            </div>
        </div>
        <!--        2번째 검색창-->
    </div>
    <div class="row content">
        <div class="col">
            <!--      부트 스트랩 5.3 Card 컴포넌트 Header and Footer 의 샘플 가져오기-->
            <div class="card">
<!--                <div class="card-header">-->
<!--                    목록-->
<!--                </div>-->
                <div class="card-body">

<!--                    모달 창 버튼 테스트-->
                    <!-- Button trigger modal -->

                    <!--                     리스트의 목록의 요소를 넣기-->

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Bno</th>
                            <th scope="col">Title</th>
<!--                            상세보기 시, 내용 보기로 하기.-->
<!--                            <th scope="col">Content</th>-->
                            <th scope="col">Writer</th>
                            <th scope="col">RegDate</th>
                            <!--                            <th scope="col">Finished</th>-->
                        </tr>
                        </thead>
                        <tbody th:with="link = ${pageRequestDTO.getLink()}">
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <th scope="row">[[${dto.bno}]]</th>

                            <td>
                                <a th:href="|@{/board/read(bno =${dto.bno})}&${link}|">
                                [[${dto.title}]]
                                </a>
                                <span class="badge progress-bar-success" style="background-color: #fe010a">
                                    [[${dto.replyCount}]]
                                </span>
<!--                                첨부 이미지 출력하기-->
                                <div th:if="${dto.boardImages != null && dto.boardImages.size()>0}">
                                    <img style="width: 100px" th:each="boardImage : ${dto.boardImages}"
                                     th:src="|/view/s_${boardImage.uuid}_${boardImage.fileName}|">
                                </div>
                            </td>
<!--이부분 주석 인식 못해서 삭제함-->

                            <td>[[${dto.writer}]]</td>
                            <!--                            <td>[[${dto.regDate}]]</td>-->
                            <!--                            날짜 출력 포맷팅 작업 : yyyy-MM-dd HH:mm:ss 형식-->
                            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                        </tr>

                        </tbody>
                    </table>
                    <!--                   페이징 부트스트랩 추가하기-->
                    <div class="paging-container">
                        <ul class="pagination paging-content">
                            <!--                                    이전화면이 나오고-->
                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start-1}">Previous</a>
                            </li>
                            <!--                                    페이지 : 1 ~ 10 개 출력-->
                            <!--                                    서버에서 받아온 데이터를 적용하기-->
                            <!--                            화면에 표시에 페이지 번호 10개 그리기-->
                            <th:blcok th:each="i:${#numbers.sequence(responseDTO.start,responseDTO.end)}">
<!--                                기존 jstl c 태그 문법 , 타임리프 문법으로 변경하기-->
                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                    <a class="page-link"
                                       th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:blcok>

                            <!--                            다음 화면 이 나오고-->

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end +1}">Next</a>
                            </li>
                        </ul>
                    </div>
                    <script>

                    </script>
                    <!--                                     페이징 부트스트랩 추가하기-->
                    <!--                            paging-container 닫는 부분-->
                </div>
            </div>
        </div>
    </div>


    <!--부트스트랩 5.3 , 모달창 컴포넌트 가져오기, 평상시에는 화면에 보이지 않고, -->
    <!--모달 관련 객체에서 show, hide 함수등을 이용해서, 보이고, 사라지기 기능을 이용한다.-->
    <!--모달창 시작-->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        th:if="${resultType == 'register'}">글쓰기 성공</h1>
                    <h1 class="modal-title fs-5"
                        th:if="${resultType == 'update'}">글수정 성공</h1>
                    <h1 class="modal-title fs-5"
                        th:if="${resultType == 'delete'}">글삭제 성공</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" th:if="${result}" >
                    작성한 게시글 번호 : [[${result}]]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--모달창 끝-->
</div>
<!--끝 나는 부분 layout:fragment="content"-->




<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">

    //show modal
    // 글 작성 후, 작성된 게시글 번호 bno 를 result 담에서 화면에 전달.
    const result = [[${result}]]

    // 자바스크립트에서 모달 객체를 사용하기 위한 인스턴스 만들기.
    const modal = new bootstrap.Modal(document.querySelector(".modal"))

    if(result){
        modal.show()
    }

    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        self.location = "/board/list"

    })

    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target
        // a 태그 가 아니면 해당 클릭 이벤트 함수를 나간다.
        if (target.tagName !== 'A') {
            return
        }
        // tagName 전부 a 태그만 살아 남음.
        const num = target.getAttribute("data-num")
        const link = [[${pageRequestDTO.getLink()}]]

        // 추가, 검색 및 필터 관련 정보를 추가해서, 페이징 이동하기.
        const formObj = document.querySelector("form")
        formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`
        formObj.submit()
        // self.location = `/board/list?page=${num}?${link}`

    }, false)
</script>

</body>
</html>
