<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col">
            <!--      부트 스트랩 5.3 Card 컴포넌트 Header and Footer 의 샘플 가져오기-->
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <%--         register.jsp 의 화면을 복붙--%>
                    <form method="post" action="/board/register">
                        <input type="hidden" name="tno" value="1">
                        <div class="mb-3">
                            <label for="title" class="form-label">제목</label>
                            <input type="text" name="title" class="form-control" id="title" placeholder="제목을 입력해주세요.">
                        </div>
                        <div class="mb-3">
                            <label for="dueDate" class="form-label">일정</label>
                            <input type="date" name="dueDate" class="form-control" id="dueDate">
                        </div>

                        <div class="mb-3">
                            <label for="writer" class="form-label">작성자</label>
                            <input type="text" name="writer" class="form-control" id="writer" placeholder="작성자를 입력해주세요.">
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label" for="finished">Finished</label>
                            <input type="checkbox" class="form-check-input" id="finished" name="finished">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">작성</button>
                            <button type="reset" class="btn btn-danger">초기화</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">
    const serverValidErrors = {}
    // <c:forEach items = "${errors}" var="error">
    //     serverValidErrors['${error.getField()}'] = '${error.defaultMessage}'
    // </c:forEach>
    console.log(serverValidErrors)
</script>

</body>
</html>
