<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">


<head>
    <title>Member Join Page</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    JOIN
                </div>
                <div class="card-body">
                    <form id="registrationForm" action="/member/join" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">MID</span>
                            <input type="text" name="mid" class="form-control">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">MPW</span>
                            <input type="password" name="mpw" class="form-control">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">EMAIL</span>
                            <input type="email" name="email" class="form-control">
                        </div>

<!--                        파일 첨부 하는 화면 넣기-->
<!--                        글작성시, 레스트로 업로드 하는 방식 그대로 재사용해보기-->
                        <div class="mb-3 input-group">
<!--                            <span class="input-group-text">첨부파일  </span>-->
                            <input class="form-control" type="file" id="profileImage" name="profileImage" accept="image/*">
                        </div>
                        <!--    첨부 파일 이미지 미리 보기 화면, -->
                        <div class="row mt-3">
<!--                            <div class="col">-->
<!--                                <div class="d-flex uploadResult" style="flex-wrap: wrap">-->

<!--                                </div>-->
<!--                            </div>-->
                            <div id="preview-container">
                                <img id="imagePreview" src="" alt="Image Preview" style="display: none;">
                            </div>
                        </div>



                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary" onclick="submitForm()">회원가입</button>
                                <button type="reset" class="btn btn-secondary">초기화</button>
                            </div>
                        </div>
                    </form>
                </div><!--end card body-->

            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->

    <!--    첨부 파일 업로드 하는 폼 , 모달창 필요함. -->
    <!--    댓글 작성 모달 창 폼-->
    <!-- Modal -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>업로드 파일</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <!--                        <span class="input-group-text">첨부 파일</span>-->
                        <input type="file" name="files"
                               class="form-control" ></input>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeRegisterBtn" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary uploadBtn">업로드하기</button>
                </div>
            </div>
        </div>
    </div>
    <!--모달창 끝-->
    <!--    axios 사용하기 위한 도구 설치-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--    우리가 정의한 /js/reply.js 불러오기-->
    <script src="/js/upload.js"></script>
    <script src="/js/scripts.js"></script>

</div>

<script layout:fragment="javascript" th:inline="javascript">

    // 회원가입시 이미지 미리보기 이벤트 동작
    document.getElementById('profileImage').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            document.getElementById('imagePreview').style.display = 'none';
        }
    });

    //등록하기, 2번째 버전
    function submitForm() {
        const form = document.getElementById('registrationForm');
        const formData = new FormData(form);

        axios.post('/member/join', formData, {
            //폼 방식에서, 이미지와 일반 문자열을 서버에 전달시
            // 전달 방식을 multipart/form-data 꼭~~~ 주의사항.
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
            .then(response => {
                alert('회원가입이 완료되었습니다!');
                console.log(response.data);
            })
            .catch(error => {
                alert('회원가입 중 오류가 발생했습니다.');
                console.error(error);
            });
    }




</script>