<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">


<head>
    <title>Member Upate Page</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    회원수정
                </div>
                <div class="card-body">
                    <form id="registrationForm" action="/member/update" method="post">
                        <div class="input-group mb-3" th:if="${user.social.toString().equals('false')} ">
                            <span class="input-group-text">MID</span>
                            <input type="text"  name="mid" class="form-control" th:value="${user.mid}" readonly>
                        </div>

                        <div class="input-group mb-3" th:if="${user.social.toString().equals('false')} ">
                            <span class="input-group-text">MPW</span>
                            <input type="password"  name="mpw" class="form-control">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">MPW확인</span>
                            <input type="password" name="mpw2" class="form-control">
                        </div>

                        <div class="input-group mb-3" th:if="${user.social.toString().equals('false')} ">
                            <span class="input-group-text">EMAIL</span>
                            <input type="email" name="email" class="form-control" th:value="${user.email}">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">이름</span>
                            <input type="text" name="memberName" class="form-control" th:value="${user.memberName}">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">주소</span>
                            <input type="text" name="address" class="form-control" th:value="${user.address}">
                        </div>

<!--                        파일 첨부 하는 화면 넣기-->
<!--                        글작성시, 레스트로 업로드 하는 방식 그대로 재사용해보기-->
                        <div class="mb-3 input-group" th:if="${user.social.toString().equals('false')} ">
<!--                            <span class="input-group-text">첨부파일  </span>-->
                            <input class="form-control" type="file" id="profileImage" name="profileImage" accept="image/*">
                        </div>
                        <!--    첨부 파일 이미지 미리 보기 화면, -->
                        <div class="row mt-3">
                            <div id="preview-container">
                                <img id="imagePreview" src="" alt="Image Preview" style="display: none;">
                            </div>
                        </div>



                        <div class="my-4">
                            <div class="float-end" th:if="${user.social.toString().equals('false')} " >
                                <button type="button" class="btn btn-primary" onclick="submitForm()">회원수정하기</button>
                                <button type="reset" class="btn btn-secondary">초기화</button>
                            </div>

                        </div>
                    </form>

                    <form id="registrationForm2" action="/member/updateSocial" method="post" th:if="${user.social.toString().equals('true')} ">
                        <div th:if="${user.social.toString().equals('true')} ">
                            <h1>소셜 로그인 경우, 임시로 패스워드만 변경함</h1>
                        </div>
                        <div>소셜 로그인 여부 : [[${user.social}]]</div>
                        <div class="input-group mb-3" th:if="${user.social.toString().equals('true')} ">
                            <span class="input-group-text">MID</span>
                            <input type="text" id="mid" name="mid" class="form-control" th:value="${user.mid}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">MPW</span>
                            <input type="password" id="mpw" name="mpw" class="form-control">
                        </div>

                        <div class="input-group mb-3" th:if="${user.social.toString().equals('false')} ">
                            <span class="input-group-text">EMAIL</span>
                            <input type="email" name="email" class="form-control" th:value="${user.email}">
                        </div>



                        <div class="my-4">
                            <div class="float-end" th:if="${user.social.toString().equals('true')} " >
                                <button type="button" class="btn btn-primary" onclick="submitForm2()">소셜 회원수정하기</button>
                                <button type="reset" class="btn btn-secondary">초기화</button>
                            </div>
                        </div>
                    </form>


                </div><!--end card body-->

            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->


    <!--    axios 사용하기 위한 도구 설치-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--    우리가 정의한 /js/reply.js 불러오기-->
    <script src="/js/upload.js"></script>
    <script src="/js/scripts.js"></script>

</div>

<script layout:fragment="javascript" th:inline="javascript">
const profileImageCheck = [[${user.social}]]
console.log(profileImageCheck)
if(!profileImageCheck) {
    // 회원가입시 이미지 미리보기 이벤트 동작
    document.getElementById('profileImage').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            document.getElementById('imagePreview').style.display = 'none';
        }
    });
}


    //등록하기, 2번째 버전
    function submitForm() {
        const form = document.getElementById('registrationForm');
        const formData = new FormData(form);

        axios.post('/member/update', formData, {
            //폼 방식에서, 이미지와 일반 문자열을 서버에 전달시
            // 전달 방식을 multipart/form-data 꼭~~~ 주의사항.
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
            .then(response => {
                alert('회원수정이 완료되었습니다!');
                console.log(response.data);
                self.location = "/member/logout"
            })
            .catch(error => {
                alert('회원수정 중 오류가 발생했습니다.');
                console.error(error);
            });
    }

    //수정하기 소셜, 2번째 버전
    function submitForm2() {
        const form = document.getElementById('registrationForm2');
        const formData = new FormData(form);

        axios.post('/member/updateSocial', formData, {
            //폼 방식에서, 이미지와 일반 문자열을 서버에 전달시
            // 전달 방식을 multipart/form-data 꼭~~~ 주의사항.
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
            .then(response => {
                alert('회원수정이 완료되었습니다!');
                console.log(response.data);
                self.location = "/member/logout"
            })
            .catch(error => {
                alert('회원수정 중 오류가 발생했습니다.');
                console.error(error);
            });
    }

</script>