<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>

</head>
<body>
<h1>타임리프 출력하는 방식 2가지
  1. 인라인으로 출력하는 방법 </h1>
  <h1 th:text="${list}"></h1>
<h1>2. 태그 밖에서 출력하는 방법.</h1>
<h2>[[${list}]]</h2>

<!--타임리프 주석하기-->
<!-- /*
<h2>[[${list}]]</h2>
*/
-->

<h2>변수 선언</h2>
<div th:with = "num1 = ${10}, num2 = ${20}">
  <h2>변수 사용</h2>
    <h3 th:text="${num1 + num2}"> </h3>
</div>


<h2>변수 선언2</h2>
<div th:with = "num1 = ${'이상용'}, num2 = ${'이상용2'}">
  <h2>변수 사용2</h2>
  <h3 th:text="${num1 + num2}"> </h3>
</div>

<h2>변수 선언3</h2>
<div th:with = "num1 = '이상용', num2 = '이상용2'">
  <h2>변수 사용3</h2>
  <h3 th:text="${num1 + num2}"> </h3>
</div>

<h2>변수 선언4</h2>
<div th:with = "num1 = 10, num2 = 20">
  <h2>변수 사용4</h2>
  <h3 th:text="${num1 + num2}"> </h3>
</div>


<h2>기본문법 : 목록에서 하나씩 꺼내서 반복작업하기.</h2>
<!--<th:each="변수명 : 목록">-->
<!--예시)-->
<ul>
  <li th:each="str : list" th:text="${str}"></li>
</ul>

기본문법:
<ul>
<th:block th:each="str : ${list}" >
  <li> [[${str}]] </li>
</th:block >
</ul>
</body>
</html>













