<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>

</head>
<body>

<div layout:fragment="content">
  <h1>ex3에서 base.html의 content 영역에 이용된다.</h1>
</div>

<h1>서버에서 모델에 담아서 전달한 데이터를 사용하기</h1>

<div th:text="${list}"></div>


타임리프를 자바스크립트 문법으로 사용하는 예제
자바 스크립트 안에서, 서버에서 넘어온 데이터 사용하는 방법 동일.

<script layout:fragment="javascript" th:inline="javascript" >
  const list = [[${list}]]
  console.log(list)

</script>

</body>
</html>
