<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busanit501.springex.mapper.TodoMapper">
<!--  방금 친 코드는 보통 다 복붙해서 사용하니, 한번 만 타이핑 연습-->
<!--  필요한 sql 문장을 아래에다 , 따로 관리를 합니다.-->
  <select id="getTime" resultType="string">
    select now()
  </select>

  <insert id="insert">
    insert into tbl_todo (title, dueDate, writer) values (#{title}, #{dueDate}, #{writer})
  </insert>

</mapper>
